Source: soapysdr
Section: libs
Priority: optional
Maintainer: Josh Blum <josh@pothosware.com>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake (>= 2.8.8),
    swig2.0,
    python-dev
Standards-Version: 3.9.5
Homepage: https://github.com/pothosware/SoapySDR/wiki
Vcs-Git: https://github.com/pothosware/SoapySDR.git
Vcs-Browser: https://github.com/pothosware/SoapySDR

Package: libsoapysdr0
Section: libs
Architecture: any
Pre-Depends: multiarch-support, ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Soapy SDR - shared library
 Vendor and platform neutral SDR support library.

Package: libsoapysdr-dev
Section: libdevel
Architecture: any
Depends:
    libsoapysdr0 (= ${binary:Version}),
    ${misc:Depends}
Description: Soapy SDR - development files
 Vendor and platform neutral SDR support library.

Package: soapysdr
Section: libs
Architecture: any
Recommends: soapyosmo, soapyuhd
Depends:
    libsoapysdr0 (= ${binary:Version}),
    ${shlibs:Depends},
    ${misc:Depends}
Description: Soapy SDR - runtime application
 Vendor and platform neutral SDR support library.

Package: python-soapysdr
Section: python
Architecture: any
Depends:
    libsoapysdr0 (= ${binary:Version}),
    python,
    ${shlibs:Depends},
    ${misc:Depends}
Description: Soapy SDR - python bindings
 Vendor and platform neutral SDR support library.
