Source: soapysdr
Section: comm
Priority: optional
Maintainer: Josh Blum <josh@pothosware.com>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake (>= 2.8.7),
    swig2.0,
    python,
    python-dev,
    python3,
    python3-dev
Standards-Version: 3.9.5
Homepage: https://github.com/pothosware/SoapySDR/wiki
Vcs-Git: https://github.com/pothosware/SoapySDR.git
Vcs-Browser: https://github.com/pothosware/SoapySDR

Package: libsoapysdr0.5-2
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: multiarch-support, ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Soapy SDR - shared library
 Vendor and platform neutral SDR support library.

Package: libsoapysdr-dev
Section: libdevel
Architecture: any
Depends:
    libsoapysdr0.5-2 (= ${binary:Version}),
    ${misc:Depends}
Description: Soapy SDR - development files
 Vendor and platform neutral SDR support library.

Package: soapysdr
Section: comm
Architecture: any
Recommends:
    soapysdr-remote,
    soapysdr-rtlsdr,
    soapysdr-hackrf,
    soapysdr-bladerf,
    soapysdr-uhd,
    soapysdr-osmo
Depends:
    libsoapysdr0.5-2 (= ${binary:Version}),
    ${shlibs:Depends},
    ${misc:Depends}
Description: Soapy SDR - runtime application
 Vendor and platform neutral SDR support library.

Package: python-soapysdr
Section: python
Architecture: any
Depends:
    libsoapysdr0.5-2 (= ${binary:Version}),
    python,
    ${shlibs:Depends},
    ${misc:Depends}
Recommends: python-numpy
Description: Soapy SDR - python bindings
 Vendor and platform neutral SDR support library.

Package: python3-soapysdr
Section: python
Architecture: any
Depends:
    libsoapysdr0.5-2 (= ${binary:Version}),
    python3,
    ${shlibs:Depends},
    ${misc:Depends}
Recommends: python-numpy
Description: Soapy SDR - python3 bindings
 Vendor and platform neutral SDR support library.
